.about-card {
  margin-bottom: 97px;
}

.about-card__wrapper {
  display: flex;
  justify-content: space-between;

  img {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.about-card__left-col {
  width: 538px;
}
