.about {
  p {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 669px;

    @media (max-width: $mobile-width) {
      font-size: 14px;
    }
  }

  .about__ssl-description {
    font-size: 16px;
    line-height: 24px;
    color: #6B6B6B;
    width: 100%;
    margin-bottom: 0;

    @media (max-width: $mobile-width) {
      font-size: 14px;
    }
  }

  .about__sert-desc {
    font-size: 14px;
    line-height: 20px;
    max-width: 494px;
    color: #6B6B6B;

    @media (max-width: $mobile-width) {
      font-size: 12px;
      line-height: 17px;
    }
  }

  h2 {
    font-size: 28px;

    @media (max-width: $mobile-width) {
      font-size: 20px;
    }
  }
}

.about__tech {
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.about__ssl {
  max-width: 478px;

  @media (max-width: $mobile-width) {
    margin-top: 38px;
  }
}

.about__contacts {
  max-width: 412px;
}

.about__contacts-top {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.about__contacts-top-left {
  display: flex;
  flex-direction: column;
}

.about__contact-title {
  font-size: 16px;
  color: #6B6B6B;
  display: inline-block;
  margin-bottom: 8px;

  @media (max-width: $mobile-width) {
    font-size: 14px;
  }
}

.about__contact {
  text-decoration: none;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #4576F3;
  font-weight: bold;

  @media (max-width: $mobile-width) {
    font-size: 20px;
    white-space: pre-wrap;
  }
}

.about__contact-bottom {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.about__ssl-title {
  position: relative;
  display: inline-block;
  padding-left: 65px;
  width: 242px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    background-image: url("../img/ssl.svg");
    background-repeat: no-repeat;
    width: 49px;
    height: 56px;
  }
}

.about__sert {
  display: flex;
  align-items: center;
  margin-bottom: 65px;

  @media (max-width: $mobile-width) {
    display: block;

    img {
      float: left;
      width: 109px;
      height: auto;
      margin-right: 15px;
      margin-bottom: 4px;
    }
  }
}

.about__sert-wrapper {
  margin-left: 22px;
  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.about__sert-title {
  font-weight: bold;
  display: inline-block;
  color: #5174BA;
  font-size: 16px;
  line-height: 24px;
  width: 179px;
}


