.card-price {
  margin-top: 91px;
  margin-bottom: 75px;

  @media (max-width: $mobile-width) {
    margin-top: 165px;
  }
}

.card-price__list {
  @include liststyle-none;
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.card-price__item {
  width: 311px;
  margin-right: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 32px 24px 26px;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    box-sizing: border-box;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  }
}

.card-price__img {
  margin-left: auto;
  margin-right: auto;
}

.card-price__item-content {
  width: 100%;
}

.card-price__title {
  font-size: 18px;
  margin-top: 31px;
  margin-bottom: 0;
}

.card-price__desc {
  color: #6B6B6B;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.card-price__item-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.card-price__price {
  color: #4576F3;
  font-size: 24px;
  font-weight: bold;
}

.card-price__delivery {
  color: #979797;
  font-size: 14px;
}
