.card-create {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
  position: relative;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    margin-top: 10px;
  }
}

.card-create__left-col {
  max-width: 586px;
  @media (max-width: $mobile-width) {
    max-width: 979px;
  }
}

.card-create__subtext {
  display: inline-block;
  margin-top: 4px;
  font-size: 16px;
  color: #6B6B6B;
  line-height: 24px;
}

.card-create__rule {
  color: #555555;
  margin-top: 114px;
  max-width: 418px;
  font-size: 12px;
  display: inline-block;
  background-image: url("../img/emblem.png");
  background-repeat: no-repeat;
  min-height: 48px;
  padding-left: 50px;
  line-height: 16px;

  @media (max-width: $mobile-width) {
    position: absolute;
    max-width: 979px;
    bottom: -90px;
    left: 0;
  }
}

.card-create__subtext--tachograph {
  max-width: 470px;
}
