.card-delivery {
  margin-bottom: 87px;

  h2 {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 32px;
    width: 550px;
  }
}

.card-delivery__list {
  white-space: pre-wrap;
  color: #555555;
  font-size: 14px;
  line-height: 20px;
}

.card-delivery__wrapper {
  display: flex;
  justify-content: space-between;
}

