.card-delivery {
  margin-bottom: 87px;

  @media (max-width: $mobile-width) {
    order: 1;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 32px;
    max-width: 550px;

    @media (max-width: $mobile-width) {
      font-size: 20px;
    }
  }
}

.card-delivery__list {
  white-space: pre-wrap;
  color: #555555;
  font-size: 14px;
  line-height: 20px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.card-delivery__list--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    font-size: 12px;
    white-space: pre-wrap;
    color: #555555;
    line-height: 16px;
    padding-right: 3px;
  }
}

.card-delivery__wrapper {
  display: flex;
  justify-content: space-between;
}

