.card-create {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
}

.card-create__left-col {
  width: 586px;
}

.card-create__subtext {
  display: inline-block;
  margin-top: 4px;
  font-size: 16px;
  color: #6B6B6B;
}

.card-create__rule {
  color: #555555;
  margin-top: 114px;
  width: 418px;
  font-size: 12px;
  display: inline-block;
  background-image: url("../img/emblem.png");
  background-repeat: no-repeat;
  min-height: 48px;
  padding-left: 50px;
  line-height: 16px;
}
