.faq {
  margin-bottom: 88px;
}

.faq__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.faq__right-col {
  max-width: 562px;
}

.faq__left-col {
  width: 328px;
}

.faq__sand {
  padding: 25px 57px 32px 32px;

  @media (max-width: $mobile-width) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
  }
}

.faq__sand-title {
  margin-top: 0;
  margin-bottom: 17px;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.faq__note {
  display: inline-block;
  margin-bottom: 22px;
}

.faq__question {
  background-color: #EBEEF4;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  padding: 17px 24px 19px;
  margin-bottom: 24px;
  cursor: pointer;
}

.faq__hover {
  &:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 1px rgba(81, 116, 186, 0.6);
  }
}

.faq__question--open {
  border: 1px solid #E5E5E5;
  background-color: #ffffff;
  border-bottom: 0;
  margin-bottom: 0;
}

.faq__answer {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  border: 1px solid #E5E5E5;
  border-top: 0;
  margin-bottom: 24px;
  margin-top: -5px;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 16px;
  }
}

.faq__close {
  background-image: url("../img/downarrow.svg");
  background-repeat: no-repeat;
  background-position: 96%;
}

.faq__open {
  background-image: url("../img/uparrow.svg");
  background-repeat: no-repeat;
  background-position: 96%;
}

.faq__note {
  font-size: 14px;
  line-height: 20px;
  color: #6B6B6B;
}

.faq__sand {
  background: #EBEEF4;
  border-radius: 8px;
}
