.footer {
  background-color: #252525;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.footer__left-col {
  display: flex;
  flex-direction: column;
  padding-top: 43px;
  padding-bottom: 55px;
}

.footer__logo {
  margin-bottom: 44px;
}

.footer__phone {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer__email-link {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.footer__icons-wrapper {
  margin-top: 33px;
  display: flex;
  align-items: center;
}

.footer__icons {
  margin-right: 32px;
}

.footer__icons--ok {
  width: 16px;
  height: 23px;
}

.footer__icons--insta {
  width: 23px;
  height: 23px;
}

.footer__nav-title {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: normal;
}

.footer__nav-list {
  @include liststyle-none;
  font-size: 14px;
  line-height: 32px;
}

.footer__nav-link {
  color: #FFFFFF;
  text-decoration: none;

  &:hover {
    color: #A1A1A1;
  }
}

.footer__menu {
  display: flex;
  //flex-direction: column;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.footer__menu-col {
  margin-right: 104px;
}

.footer__payment {
  margin-top: 25px;

  @media (max-width: $mobile-width) {
    margin-bottom: 69px;
  }
}

.footer__payment-logo {
  margin-right: 17px;
}

.footer__bottom {
  background-color: #000000;
  padding-top: 13px;
  padding-bottom: 13px;
}

.footer__copyright {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

.footer__info {
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 170px;

  @media (max-width: $mobile-width) {
    display: block;
    margin-left: 0;
    margin-top: 13px;
  }
}

