.form__small-form {
  box-sizing: border-box;
  width: 392px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.08);
  padding: 23px 32px 38px;
  box-sizing: border-box;

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.form__small-form--inner {
  height: 370px;
}

.form__label {
  position: relative;
  color: #A2A2A2;
  font-size: 12px;
}

.form__label--inner {
  margin-bottom: 33px;
  display: block;
}

.form__title {
  font-size: 18px;
  line-height: 24px;
}

.form__input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 0;
  border-bottom: 1px solid #E5E5E5;
  font-size: 14px;
  color: #000000;
  outline: none;
  position: relative;

  &::placeholder {
    color: #979797;
  }

  &:hover::-webkit-input-placeholder {
    color: #000000;
  }

  &:focus::-webkit-input-placeholder {
    color: #ffffff;
  }

  &:hover {
    color: #000000;
  }
}

.form__span {
  font-size: 12px;
  color: #5eaa2f;
  position: absolute;
  top: -15px;
  left: 3px;
  opacity: 0;
}

.form__span-select {
  font-size: 12px;
  color: #5eaa2f;
  position: absolute;
  top: -15px;
  left: 3px;
  opacity: 0;
}

.form__span-select2 {
  font-size: 12px;
  color: #A2A2A2;
  opacity: 1;
}

.form__input:focus + .form__span {
  color: #A2A2A2;
  opacity: 1;
}


.form__select-wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form__select-type {
  width: 195px;
}

.form__select-card-type {
  width: 109px;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  background-color: #4576F3;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  color: #ffffff;
  border: 0;

  &:hover {
    background-color: #3961C8;
  }
}

.form__button--cancel {
  background-color: #E5E5E5;
  width: 162px;
  margin-right: 8px;
  color: #000000;

  &:hover {
    background-color: #DADADA;
  }
}

.form__button--pay {
  width: 194px;
}

.form__note {
  display: inline-block;
  margin-top: 10px;
  color: #000000;
  font-size: 13px;
  line-height: 20px;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #ffffff;
  border-bottom: 1px solid #E5E5E5;
  font-size: 14px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  width: 12px;
  height: 6px;
  border: 6px solid transparent;
  background-image: url("../img/downarrow.svg");
  background-repeat: no-repeat;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  background-image: url("../img/uparrow.svg");
  top: 7px;
}

/* style the items (options), including the selected item: */

.select-selected:not(.select-arrow-active) {
  //color: #979797;
  color: #000000;
}

.select-items div,.select-selected {
  color: #000000;
  padding-top: 11px;
  padding-bottom: 11px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #ffffff;
  color: #979797;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  padding-left: 15px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #ffffff;
  color: #4576F3;
}

.form__custom-checkbox {
  color: #979797;
  font-size: 12px;
  line-height: 16px;
  padding-left: 20px;
  position: relative;
  white-space: pre-wrap;
}

.form__custom-checkbox--service {
  color: #000000;
  font-size: 16px;
}

.form__checkbox {
  height: 1px;
  width: 1px;
  opacity: 0;
  z-index: -1;

  + .form__custom-checkbox {
    &::before {
      content: '';
      position: absolute;
      left: -5px;
      top: 0;
      width: 16px;
      height: 16px;
      background-color: #E5E5E5;
      border-radius: 3px;
    }
  }

  &:hover {
    + .form__custom-checkbox {
      &::before {
        content: '';
        box-shadow: 0 0 0 1px #4576F3;
        //border: 1px solid #4576F3;
      }
    }
  }

  &:checked {
    + .form__custom-checkbox {
      &::before {
        background-color: #4576F3;
        background-image: url("../img/check.svg");
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: center;
      }
    }
  }
}

.form__success {
  background: #FFFFFF;
  box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  text-align: center;
  height: 204px;
  width: 392px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 42px;
  box-sizing: border-box;

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}
