.header__topbar {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #6B6B6B;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.header__topbar--nav {

  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    position: absolute;
    top: 470px;
    font-size: 14px;
    color: #6B6B6B;
  }
}

.header__email {
  display: flex;
  align-items: center;
  @media (max-width: $mobile-width) {
    margin-top: 19px;
  }
}

.header__email-link {
  color: #6B6B6B;
  text-decoration: none;
  margin-left: 5px;
}

.header__main-bar {
  background-color: #ffffff;
  height: 64px;
  padding-bottom: 10px;
  box-sizing: border-box;
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.header__main-bar--inner {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}

.header__logo {
  width: 98px;
  height: auto;
}

.header__main-bar-wrapper {
  margin-top: 11px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }
}

.header__phone {
  font-size: 18px;
  color: #6B6B6B;
  text-decoration: none;
  line-height: 17px;
  font-weight: bold;

  @media (max-width: $mobile-width) {
    font-size: 24px;
  }
}

.header__timetable {
  font-size: 12px;
  line-height: 11px;
  color: #6B6B6B;
  display: inline-block;
  margin-top: 5px;
}
