.pay-success {
  h1 {
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    max-width: 454px;

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  .modal__docs-note {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
  }

  .email-link {
    color: #4576F3;
  }

  .modal__docs-item {
    color: #5174BA;
    font-weight: bold;
  }

  .modal__docs-item-note {
    color: #6B6B6B;
    font-weight: normal;
  }

  .modal__service-note {
    font-size: 14px;
  }
}

.pay-success__bottom {
  margin-top: 40px;
  margin-bottom: 123px;
}

.pay-success__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.pay-success__left-col {
  width: 394px;
  max-width: 394px;
  margin-top: 34px;
  margin-right: 70px;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-right: 0;
  }
}

.pay-success__right-col {
  border-left: 1px solid #E5E5E5;
  padding-left: 72px;
  max-width: 476px;

  @media (max-width: $mobile-width) {
    padding-left: 0;
    margin-top: 26px;
    border-left: 0;
    border-top: 1px solid #E5E5E5;
    padding-top: 31px;
  }
}

.pay-success__left-col-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pay-success__order-number-wrapper {
  display: flex;
  flex-direction: column;
}

.pay-success__term {
  display: inline-block;
  width: 173px;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #979797;
  font-weight: bold;
}

.pay-success__number {
  font-size: 14px;
  color: #979797;
  font-weight: bold;
}

.pay-success__order-title {
  display: inline-block;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.pay-success__check-list {
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  padding-left: 61px;
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-right: 24px;
  margin-top: 17px;

  &::before {
    content: '';
    position: absolute;
    background-image: url("../img/green-check.svg");
    left: 24px;
    top: 19px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
  }
}

.pay-success__check-name {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #000000;
  font-weight: bold;
}

.pay-success__total-block {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
}

.pay-success__total-block-left {
  position: relative;
}

.pay-success__ssl {
  font-size: 12px;
  font-weight: bold;
  color: #088CCB;
  width: 180px;
  display: block;

  @media (max-width: $mobile-width) {
    position: absolute;
    bottom: 1px;
    right: -270px;
  }
}

.pay-success__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  @media (max-width: $mobile-width) {
    margin-top: 0;
    flex-direction: column;
    align-items: flex-start;

    img {
      margin-bottom: 5px;
    }
  }
}

.pay-success__total-block-right {
  display: flex;
  flex-direction: column;
}

.pay-success__all {
  font-size: 14px;
  color: #6B6B6B;
  font-weight: bold;
  text-align: right;
}

.pay-success__total-price {
  font-weight: bold;
  font-size: 24px;
  color: #4DB45E;
  text-align: right;
  display: inline-block;
  margin-top: 8px;
}
