.team__list {
  @include liststyle-none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 124px;
}

.team__item {
  display: flex;
  flex-direction: column;
}

.team__img {
  border-radius: 50%;
  overflow: hidden;
  width: 165px;
  height: 165px;
  margin-bottom: 15px;
}

.team__name {
  color: #000000;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 5px;
}

.team__position {
  font-size: 14px;
  color: #6B6B6B;
  display: inline-block;
  margin-bottom: 3px;
}

.team__experience {
  font-size: 14px;
  color: #4576F3;
  font-weight: bold;
}
