.content__p {
  font-size: 14px;
  line-height: 20px;
  color: #6B6B6B;
  margin-top: 0;
}

.content__a {
  color: #4576F3;

  &:hover {
    text-decoration: none;
  }
}

.content__ol {
  padding-left: 12px;
}
