@font-face {
  font-family: "Gotham Pro";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GothamPro.woff2");
  src: url("../fonts/GothamPro.woff");
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/GothamPro-Bold.woff2");
  src: url("../fonts/GothamPro-Bold.woff");
}
